.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  position: relative;
  top: 100px;
}

.Left-button{
  position: absolute;
  right: 200px;
  top:10px;
}

.Right-button{
  position: absolute;
  right: 50px;
  top: 10px;
}

.Hr{
  top: 100px;
}

.Card-style{
  margin:20px;
  padding:20px;
}

.Form{
  position: absolute;
}

.Form-input{
  display: inline-block;
  display: flex;
  align-items: center;
  margin-top:10px;
}

.Input-label{
  margin-right: 25px
}

.Input-inline{
  display: inline-block;
}

.Validation{
  color: red;
}

